#nav {
    width: 73%;
    margin: auto;
}
#nav>.nav1 {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#nav>.nav1>#nav1-img>img {
    width: 70%;
}
#nav>.nav1>#nav1-img2 {
    margin: auto;
    width: 20%;
}
#nav>.nav1>#nav1-img2>img {
    width: 13%;
    margin: auto 7px;
}
#nav>.nav1>#nav1-3 {
    height: 30px;
    width: 27%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#nav>.nav1>#nav1-3>#b1 {
    border-radius: 7px;
    background-color: royalblue;
    color: white;
    border: 0px;
    padding: 4px 13px;
}
#nav>.nav1>#nav1-3>#b2 {
    border-radius: 7px;
    background-color: rgb(84, 74, 74);
    color: white;
    border: 0px;
    padding: 4px 18px;
}
#nav>.nav1>#nav1-3>#b3 {
    background-color: white;
    border: 0px;
    border-left: 1px solid rgb(143, 130, 130);
    padding: 4px 8px;
}


#nav2 {
    width: 100%;
    display: flex;
    color: white;
    background-color: mediumseagreen;
}
#nav2>div{
    width: 73%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#nav2>div>div{
    width: 12%;
    /* margin: auto; */
    padding: 5px 0px;
    font-size: large;
    text-align: center;
}
#nav2>div>div:nth-child(1){
    background-color: rgb(57, 119, 85);
}

/* ------- */

#Top{
   width: 73%;
   margin: auto;
}
#Top>.top1{
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#Top>.top2{
   width: 100%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.top2>div{
   padding: 20px 0px 20px 20px;
   align-items: center;
}
#Top>.top2>div>button{
    border: 0px;
    background-color: white;
}
.top2>div:nth-child(6){
    padding-right: 20px;
}
.top2>div>img{
    margin: auto;
}
#home,#recipes,#artical{
    cursor: pointer;
}

/* ------- */

#middle{
    width: 73%;
    /* height: 550px; */
    /* border: 1px solid red; */
    margin: auto;
}
#middle>div{
    width: 100%;
    /* height: 100px; */
    padding-bottom: 20px;
    margin: 30px auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#middle{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
#middle>div>#first{
    width: 100%;
    height: 40px;
    margin:5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
    
}
#first>div:nth-child(1){
    color: rgb(82, 63, 63);
    padding: 0px 20px;
}
#first>div:nth-child(2){
    /* width: 65%;
    display: flex; */
    /* justify-content: space-between; */
    padding: 0px 20px;
}
samp{
    margin: 0px 10px;
    color: dimgrey;
}
#first>div>a{
    color: darkcyan;
}
#first>div>#win{
    color: darkgoldenrod;
}
#second{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#second>div{
    width: 18%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* overflow: hidden */
    text-align: center;
}
#second>div>a{
    color: dimgray;
}
#second>div>img{
    /* max-width: 100%;
    min-width: 100%; */
    /* max-height: 198px;
    flex-shrink: 0; */
    border: 1px solid rgb(169, 167, 167);
    height: 200px; 
    width: 100%;
    /* border: 1px slid rgb(181, 172, 172); */
}

#bottom1{
    margin: auto;
    width: 73%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* border: 1px solid red; */
    text-align: center;
    padding: 34px 0px;
}
#bottom1>div>#pet{
    margin: -14px auto 40px;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    font-size: large;
}
/* #bottom1>div>h2{
    color: rgb(118, 117, 117);
} */
#bottom1>div:nth-child(2){
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
#bottom1>div:nth-child(2)>div{
    margin: 40px auto;
    border-radius: 11px;
    padding: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#bottom1>div:nth-child(2)>div>h3{
    color: rgb(72, 51, 51);
}
#bottom1>div:nth-child(2)>div>p{
    margin-top: -10px;
    color: dimgrey;
}

#butt{
    margin: 50px auto;
    color: white;
    background-color: rgb(229, 41, 41);
    padding: 15px 100px;
    border: 0px;
    border-radius: 11px;
}
#butt:hover{
    cursor: pointer;
    background-color: rgb(193, 22, 22);
}
#butt>p{
    margin-top: -30px;
}
#bottom1>div:nth-child(3){
    margin-top: 40px;
}

/* ----- */

#bottom2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: 1px solid black;
}
#bImg{
    margin: auto;
    width: 100%;
    border: 1px solid rgb(138, 137, 137);
    background-color: rgb(225, 218, 218);
}
#bImg>div{
    margin: auto;
    width: 73%;
}
#bPara{
    margin: auto;
    width: 100%;
    background-color: mediumseagreen;
    color: white;
}
#bPara>.para1{
    margin:0px auto 10px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    font-size: 14px;
    
}
#bPara>.para1>div>a{
    /* display: block;
    margin: -5px 0px; */
    color: white;
}
#bPara>.para1>div>h3{
    margin-bottom: -0px;
}
#bPara>.para2{
    margin:0px auto 10px;
    width: 70%;
    text-align: center;
    font-size: 11px;
}
#bPara>.para2>p:nth-child(1){
    margin: 20px auto -9px;
}