#nav {
    width: 73%;
    margin: auto;
}
#nav>.nav1 {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#nav>.nav1>#nav1-img>img {
    width: 70%;
}
#nav>.nav1>#nav1-img2 {
    margin: auto;
    width: 20%;
}
#nav>.nav1>#nav1-img2>img {
    width: 13%;
    margin: auto 7px;
}
#nav>.nav1>#nav1-3 {
    height: 30px;
    width: 27%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#nav>.nav1>#nav1-3>#b1 {
    border-radius: 7px;
    background-color: royalblue;
    color: white;
    border: 0px;
    padding: 4px 13px;
}
#nav>.nav1>#nav1-3>#b2 {
    border-radius: 7px;
    background-color: rgb(84, 74, 74);
    color: white;
    border: 0px;
    padding: 4px 18px;
}
#nav>.nav1>#nav1-3>#b3 {
    background-color: white;
    border: 0px;
    border-left: 1px solid rgb(143, 130, 130);
    padding: 4px 8px;
}


#nav2 {
    width: 100%;
    display: flex;
    color: white;
    background-color: mediumseagreen;
}
#nav2>div{
    width: 73%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#nav2>div>div{
    width: 12%;
    /* margin: auto; */
    padding: 5px 0px;
    font-size: large;
    text-align: center;
}
#recipes{
    background-color: rgb(57, 119, 85);
    cursor: pointer;
}

#home,#b2,#b3,#recipes,#artical{
    cursor: pointer;
}

/* ----- */

#top{
    background-color: rgb(230, 225, 225);
}
#top>div{
    width: 73%;
    margin: auto;
    padding: 30px 0px;
}
#IS{
    margin: auto;
    display: flex;
}
form{
    width: 80%;
}
#butR{
    margin: auto 20px;
    padding: 10px; 
    font-size: large; 
    background-color: red; 
    border: 0px; 
    border-radius: 11px; color: aliceblue;
}

#mid{
    margin: 40px auto;
    width: 73%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
#mid>div{
    width: 92%;
    margin: auto;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 11px;
}
#mid>div>img{
    width: 100%;
    height: 250px;
}

/* ----- */

#bottom2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* background-color: 1px solid black; */
}
#bPara{
    margin: auto;
    width: 100%;
    background-color: mediumseagreen;
    color: white;
}
#bPara>.para1{
    margin:0px auto 10px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    font-size: 14px;
    
}
#bPara>.para1>div>a{
    /* display: block;
    margin: -5px 0px; */
    color: white;
}
#bPara>.para1>div>h3{
    margin-bottom: -0px;
}
#bPara>.para2{
    margin:0px auto 10px;
    width: 70%;
    text-align: center;
    font-size: 11px;
}
#bPara>.para2>p:nth-child(1){
    margin: 20px auto -9px;
}